{% extends 'base.html.twig' %}

{% block title %}New Band{% endblock %}

{% block body %}
    <h1 class="title">Create new Band</h1>

    <div class="container-fluid example-wrapper">
    {{ include('band/_form.html.twig') }}
    </div>

    <div class="container-fluid bottom-wrapper">
        <div class="row crud-button-div">
            <button class="btn crud-button">
                <a class="button-link" href="{{ path('app_band_index') }}">Retour</a>
            </button>
        </div>
    </div>
{% endblock %}
