{% extends 'base.html.twig' %}

{% block title %}New Concert{% endblock %}

{% block body %}
    <h1 class="title">Create new Concert</h1>

    <div class="container-fluid example-wrapper">
        {{ include('concert/_form.html.twig') }}
    </div>

    <div class="container-fluid bottom-wrapper">
        <div class="row crud-button-div">
            <button class="btn crud-button">
                <a class="button-link" href="{{ path('app_concert_index') }}">Retour</a>
            </button>
        </div>
    </div>
{% endblock %}
